body {
    background-image: url("../img/background.jpg");
	background-attachment: fixed;	
    opacity: 0.95;
}

.row {
    --bs-gutter-x: 0;
}

h1,h2 {
    font-family: cursive;
    font-size: 5rem;
    font-weight: bolder;
}

.ncreaciones {
    display: flex;
    justify-content: center;
}

/* Presentacion */
.card-presentacion {
    margin: 1rem 0 1rem 0;
}

/* Formulario contacto */
.label-form {
    font-size: 1rem;
    font-weight: bolder;
    margin-top: 0.5rem;
}

.fc-inner, .input-group-text {
    border: 0.25rem solid #e7de9a;
}

/* Cards */
.card-title {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font-family: Raleway;
}

.p-card {
    font-family: Raleway;
    font-size: 1.3rem;
    margin: 0;
}

.group {
    gap: 0.625rem; 
}

.img-qsomos {
    display: flex;
   flex-direction: column;
   justify-content: center;
    height: auto;
}

img {
    width:100%;
    height:auto;
  }

  .carousel{
    max-width: 100%;
  }

 .carousel-img {
   height:31.25rem;
  }


@media (max-width: 576px) {
    .ncreaciones {
        font-size: 2.2rem;
    }

    .card-title {
        display: flex;
        justify-content: center;
        font-size: 2rem;
        margin: 0.5rem 0 0.5rem 0;
    }

    .carousel{
        padding: 0;
    }

    .carousel-img {
        height: 20rem;
    }
 }


 @media (max-width: 792px) {
    h1,h2 {
        font-size: 3rem;
    }
 }